*
{
margin:4px;
padding:4px;
}
body
{
font-family:verdana;
color:blue;
background-color:#ffc300;
}
h1 
{
color:#900cef;
text-align:center;
background-color:#DAF7A6
}
img
{
width:150px;
height:150px;
}
p
{
background-color:#D00790;
}